body  
{  
    margin: 0;  
    padding: 0;   
    font-family: 'Arial';  
} 
.homePage{
    padding-top: 40px;
    margin-left: 40px;
} 
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        /* background: #c8bbbb;   */
        border-radius: 15px ; 
}  
h1{  
    text-align: center;  
    color: #EC0000;
    padding: 40px;  
}  
label{  
    color: #EC0000;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#submit{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: #EC0000;  
  
}  
span{  
    color: #EC0000;  
    font-size: 17px;  
}  
/* a{  
    float: right;  
    background-color: #EC0000;  
} */
